<!DOCTYPE html>
<html>
  <head>
    <title>Pollufic</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  </head>
  <body>
  	<div class="container">
  		<div class ="well">This is my first container!</div>
  	</div>
    <h1><%= title %></h1>
    <% for(var keys in  data){
    for(var sub in data[keys]){
      if(sub == "name"){ %>

          <p><%= data[keys][sub] %></p>  
      <% }
       
    }
      
    
    
  } %>
  	
  	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
